# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# misc
.DS_Store

# environment variables
.env
.env.production

pocketbase/*
!pocketbase/pb_migrations/
!pocketbase/fly.toml
!pocketbase/Dockerfile
db/store.db-wal
db/store.db-shm
