---
import { Login } from "../components/Login";
import { SignUp } from "../components/SignUp";
import pb from "../libs/pocketbase";

// const { pb } = Astro.locals;

console.log("got auth store server", pb.authStore);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <SignUp client:load />

    <Login client:load />
  </body>
</html>
